<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musisk</title>
</head>

<body>
    <p>
        play music in your server with ease just select the server then channel type your song and click enter.. thats it

        <br><br> why did i make this?<br> no clue i was bored and haven't seen a bot that can do this for *free* <br><br> open source? <br>yes. very soon<br>
        <br>will this be improved? <br>yes definitely i have loads of plans for it under "todo" and you can help improve it took by forking it on my github them making a pull request
        <br><br>
        <hr>
        <br>todo<br>
        <ul>
            <li>check channel permissions so people cant see admin channels</li>
            <li>better css</li>
            <li>maybe custome playlists that you can save to your username</li>
            <li>better error checking</li>
        </ul>
    </p>
    <p>add bot <a href="https://discord.com/oauth2/authorize?client_id=825152089335791616&scope=bot&permissions=70635073">click here</a></p>
    <p>start playing music <a href="https://discord.com/api/oauth2/authorize?client_id=825152089335791616&redirect_uri=https%3A%2F%2Fmusisk.invaliduser.tk%2Fmusic&response_type=code&scope=identify%20guilds">click here</a></p>

</body>

</html>